In [16]:
#!conda install -y -c conda-forge sqlalchemy-utils
#!pip install sql_magic
import os
#set PGDATA
os.environ["PGDATA"] = "./pgdata"

In [17]:
# Load libraries
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists, drop_database

# Create PostgreSQL connection
engine = create_engine("postgres://localhost/notes_db")

# Load sql_magic so we can write SQL in Jupyter Notebooks
%load_ext sql_magic

# Setup SQL connection to the postgreSQL engine we created
%config SQL.conn_name = 'engine'

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

In [18]:
# If a PostgreSQL database with this name exists
if database_exists(engine.url):
    # Delete PostgreSQL database 
    drop_database(engine.url)
    # Create empty PostgreSQL database
    create_database(engine.url)
# Otherwise
else:
    # Create empty PostgreSQL database
    create_database(engine.url)

In [19]:
%%read_sql -d

CREATE TABLE staff ( 
    first_name varchar(255), 
    city_name varchar(255),
    age int
);

Query started at 03:54:00 PM UTC; Query executed in 0.00 m

In [20]:
%%read_sql -d 

INSERT INTO staff (first_name, city_name, age) 
VALUES ('Jill', 'Miller', 30),
       ('Steve', 'Miller', 24),
       ('Sarah', 'Jackson', 25);

Query started at 03:54:00 PM UTC; Query executed in 0.00 m

In [24]:
%%read_sql

-- Select all records from the staff table
SELECT * FROM staff;

Query started at 07:22:35 PM UTC; Query executed in 0.00 m

  first_name city_name  age
0       Jill    Miller   30
1      Steve    Miller   24
2      Sarah   Jackson   25

In [22]:
%reload_ext postgis

In [23]:
import psycopg2
from postgis import LineString
from postgis.psycopg import register